<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">

    <title>Home / pais e filhos</title>
</head>

<body>

    <header>
        <a href="#">
            <img src="../img/Vector.svg" alt="">
        </a>
        <nav>
            <ul>
                <li><a href="#">Pais e Alunos</a></li>
                <li><a href="#">Cantinas e Escolas</a></li>
                <li><a href="#">Contato</a></li>
            </ul>

            <div class="login">
                <ul>
                    <li><a href="#">Entrar</a></li>
                    <span>|</span>
                    <li><a href="#">Cadastrar</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section>
        <div class="container1">
            <div class="fundo1">
                <img src="../fotod/primeiro-dunfo.png" alt="">


                <div class="container-header">

                    <div class="text">
                        <h2>O jeito mais fácil de cuidar da alimentação dos seus filhos.</h2>
                        <span>Com a Bubbe, você acompanha e administra a alimentação de seus filhos com segurança e
                            praticidade,
                            tudo em um aplicativo para alimentação escolar criado para facilitar o dia a dia da
                            família.</span>
                        <br>
                        <img src="../fotod/baixar-store.png" alt="">
                        <img src="../fotod/disponivel-google.png" alt="">
                    </div>
                    <div class="phones">
                        <img src="../fotod/2phones.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-missao">
            <div class="logo-bubbe-left">
                <img src="../fotod/fundo-logo-bubbe-right.png" alt="">
            </div>
            <div class="foto-missao">
                <img src="../fotod/crianças-missão.png" alt="">
            </div>

            <div class="nossa-missao-container">

                <div class="nossa-missao">
                    <h1>Nossa Missão</h1>
                    <p>Auxiliar os pais no controle da alimentação e dos gastos dos filhos na cantina escolar e
                        facilitar
                        aos filhos o consumo nas cantinas escolares sem burocracia e sem troco — diminuindo assim as
                        filas e
                        aumentando o tempo livre para aproveitar o recreio com os amigos. Um app para cantina que
                        promove
                        autonomia com segurança alimentar.</p>
                </div>

                <h1 class="h1-nosso-diferencial">Nossos diferenciais</h1>

                <div class="nosso-diferencial">
                    <div class="card">
                        <h3>Acesso via Aplicativo ou Web</h3>
                        <p>Nosso app é intuitivo e fácil de usar, com todas as informações nas pontas dos seus dedos. Ou
                            se preferir, também pode acessar de seu computador em casa ou no escritório. Uma solução de
                            tecnologia escolar adaptável ao seu estilo de vida.</p>
                    </div>
                    <div class="card">
                        <h3>Recarga automática</h3>
                        <p>Usando sua conta PayPal, você pode estabelecer um valor mínimo. Ao atingir esse valor, uma
                            recarga automática é feita, garantindo que seu filho nunca fique sem lanche por falta de
                            saldo. Isso torna a gestão de alimentação escolar mais eficiente.</p>
                    </div>
                    <div class="card">
                        <h3>Recargas super fáceis de fazer</h3>
                        <p>Recarregue a conta virtual do seu filho com praticidade usando sua conta PayPal, cartão de
                            crédito ou via Pix.</p>
                    </div>
                    <div class="card">
                        <h3>Segurança para seus dados</h3>
                        <p>Mantemos os mais altos padrões de segurança digital. Seus dados e os de seus filhos estão
                            protegidos com tecnologia de ponta.</p>
                    </div>




                    <div class="resultados-bubbe-container">
                        <h1>Resultados bubbe</h1>

                        <div class="resultados-bubbe">

                            <div class="resultados">
                                <span>+ de 140 mil</span>
                                <h4>Alunos cadastrados</h4>
                            </div>
                            <div class="resultados">
                                <span>+ de 60 mil produtos</span>
                                <h4>Vendidos diariamente</h4>
                            </div>
                            <div class="resultados">
                                <span>+ de 550</span>
                                <h4>Escolas atendidas</h4>
                            </div>
                            <div class="resultados">
                                <span>Presente em 17</span>
                                <h4>Estados presentes</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>








    <section>
        <div class="container-beneficios">
            <div class="fundo-celular">
                <div class="title-fundo-celular">
                    <h2>Benefícios</h2>
                    <span>Pais e alunos</span>
                </div>

                <img src="../fotod/fundo-degrade-azul.png" alt="">
                <div class="celular-inclinado">
                    <img src="../fotod/iPhone15-inclinado.png" alt="">

                    <div class="button-cadas">
                        <ul>
                            <li><a href="#">Entrar</a></li>
                        </ul>
                    </div>
                </div>


            </div>

            <div class="info-beneficios">
                <div class="bloco-info1">
                    <div class="name-foto">
                        <img src="../fotod/icone-mochila.png" alt="">
                        <h2>Lancheira Digital</h2>
                    </div>
                    <p>
                        Agende as refeições do seu filho com antecedência, escolhendo dias, produtos e horários.
                        Mais agilidade, segurança e tempo de recreio para ele aproveitar com tranquilidade.
                    </p>
                </div>

                <div class="bloco-info1">
                    <div class="name-foto">

                        <img src="../fotod/E-commerce.png" alt="">
                        <h2>Recarga Automática</h2>
                    </div>
                    <p>
                        Configure um valor mínimo e deixe que a Bubbe recarregue automaticamente o saldo do seu
                        filho. Mais praticidade no dia a dia e menos preocupação para os pais.
                    </p>
                </div>

                <div class="bloco-info1">

                    <div class="name-foto">
                        <img src="../fotod/Database.png" alt="">
                        <h2>Controle de Gastos</h2>
                    </div>

                    <p>
                        Acompanhe o consumo diário do seu filho com relatórios detalhados. Planeje melhor os gastos
                        mensais com alimentação escolar de forma simples e transparente.
                    </p>
                </div>

                <div class="bloco-info1">

                    <div class="name-foto">
                        <img src="../fotod/tijela.png" alt="">
                        <h2>Alimentos por Dia da Semana</h2>
                    </div>

                    <p>
                        Defina o que seu filho pode comprar em cada dia da semana. Quer liberar doces só na sexta?
                        Sem problemas — você tem o controle total.
                    </p>
                </div>

                <div class="bloco-info1">
                    <div class="name-foto">
                        <img src="../fotod/celularzinho.png" alt="">
                        <h2>Compra pelo App e Totem</h2>
                    </div>
                    <p>
                        Filas menores e mais tempo para se divertir com os <br> amigos e amigas durante o intervalo.
                    </p>
                </div>

                <div class="bloco-info1">
                    <div class="name-foto">
                        <img src="../fotod/relogio.png" alt="">
                        <h3>Mais tempo no Recreio</h3>
                    </div>

                    <p>
                        Com a conta digital Bubbe, o aluno não precisa carregar dinheiro, contar troco ou levar
                        cartão de crédito. Uma solução prática e segura para a alimentação escolar.
                    </p>
                </div>

            </div>

            <div class="fundo-bubbe-metade">
                <img src="../fotod/fundo-logo-beneficios.png" alt="">
            </div>

        </div>

    </section>







    <section>
        <div class="container-comentarios">
            <br><br>
            <h1>Depoimentos</h1>

            <div class="comentarios">
                <div class="quadrado1">
                    <div class="name-foto">
                        <img src="../fotod/perfil.png" alt="">
                        <h5>Amanda</h5>
                    </div>
                    <p>Aplicativo bom, prático, fácil manuseio.</p>
                    <img src="../fotod/estrela.png" alt="">
                </div>

                <div class="quadrado2">
                    <div class="name-foto">
                        <img src="../fotod/perfil.png" alt="">
                        <h5>Eduardo</h5>
                    </div>
                    <p>Muito bom. Tirou minha dor de cabeça de ter que dar dinheiro todos os dias para minha filhae
                        consigo ver o que ela <br> está consumindo. <br>Aprovado!</p>
                    <img src="../fotod/estrela.png" alt="">
                </div>

                <div class="quadrado3">
                    <div class="name-foto">
                        <img src="../fotod/perfil.png" alt="">
                        <h4>Raul</h4>
                    </div>
                    <p>Gostei. Meu filho tem mais tempo no recreio pra curtir com os amigos.</p>
                    <img src="../fotod/estrela.png" alt="">
                </div>

                <div class="quadrado4">
                    <div class="name-foto">
                        <img src="../fotod/perfil.png" alt="">
                        <h4>Paula</h4>
                    </div>
                    <p>Resolveu um problemão. Meu filho não pode consumir muitos doces. Restringi os dias que ele pode
                        consumir doces e hoje consigo acompanhar o que ele consume.</p>
                    <img src="../fotod/estrela.png" alt="">
                </div>

                <div class="quadrado5">
                    <div class="name-foto">
                        <img src="../fotod/perfil.png" alt="">
                        <h5>Giselle</h5>
                    </div>
                    <p>Facilitou a minha vida. Gostei!</p>
                    <img src="../fotod/estrela.png" alt="">
                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="container-baixe-agora">


            <span><strong>Baixe agora</strong></span>

            <div class="celulares">
                <div class="celular1">
                    <img src="../fotod/celular-android-baixar.png" alt="Celular com o app Bubbe aberto">
                    <img src="../fotod/disponivel-google.png" alt="">
                </div>
                <div class="celular2">
                    <img src="../fotod/celular-iphone-baixar.png" alt="Celular com o app Bubbe aberto">
                    <img src="../fotod/baixar-store.png" alt="">
                </div>

                <div class="fundo-bubbe-right"></div>

                <div class="fundo-bubbe-left"></div>

            </div>
        </div>

    </section>


    <div class="fundo-verde">
    </div>


    <section>
        <div class="container-celular">

            <div class="container">

                <!-- Coluna Esquerda -->
                <div class="coluna">
                    <h2>Benefícios para o aluno</h2>

                    <div class="beneficio-esquerdo">
                        <div class="linha-direita1"></div>
                        <div class="circulo"></div>
                        <div class="texto">
                            <strong>Mais tempo no recreio</strong><br>
                            <span>
                                Filas menores e mais tempo para se divertir com os amigos e amigas no recreio.
                            </span>
                        </div>
                    </div>

                    <div class="beneficio-esquerdo">
                        <div class="linha-direita2"></div>
                        <div class="circulo"></div>
                        <div class="texto">
                            <strong><br><br>Sem a necessidade de carregar carteira de dinheiro</strong><br>
                            <span>Com a conta digital Bubbe, o aluno não precisa carregar dinheiro, contar troco ou
                                levar <br>
                                cartão de crédito. Muito mais rápido e fácil
                                na hora de comprar.</span>
                        </div>
                    </div>

                    <div class="beneficio-esquerdo">
                        <div class="linha-direita3"></div>
                        <div class="circulo"></div>
                        <div class="texto">
                            <strong>Lancheira Digital</strong><br>
                            <span>Para os mais novos, os pais podem comprar e agendar os lanches antecipadamente e a
                                cantina
                                entrega para os alunos.</span>
                        </div>
                    </div>

                    <div class="beneficio-esquerdo">
                        <div class="linha-direita4"></div>
                        <div class="circulo"></div>
                        <div class="texto">
                            <strong>Totem de autoatendimento</strong><br>
                            <span>Reconhecimento facial na hora de comprar no totem. Com a face abre a conta Bubbe do
                                aluno.
                                Rápido e eficiente!</span>
                        </div>
                    </div>
                </div>

                <!-- Celular -->
                <div class="celular">
                    <img src="../fotod/Celular - Porque seu filho.png" alt="">
                </div>


                <!-- Coluna Direita -->
                <div class="coluna-direita">
                    <h2>Benefícios para os pais</h2>

                    <div class="beneficio-direto">
                        <div class="circulo"></div>
                        <div class="linha-esquerda1"></div>
                        <div class="texto">
                            <strong>Controle total pelo app</strong><br>
                            <span>Acompanhe o saldo, consumo e hábitos alimentares em tempo real.</span>
                        </div>
                    </div>

                    <div class="beneficio-direto">
                        <div class="circulo"></div>
                        <div class="linha-esquerda2"></div>
                        <div class="texto">
                            <strong>Limites diários de gastos</strong><br>
                            <span>Os pais podem estabelecer um limite no quanto seu filho pode gastar por dia.</span>
                        </div>
                    </div>

                    <div class="beneficio-direto">
                        <div class="circulo"></div>
                        <div class="linha-esquerda3"></div>
                        <div class="texto">
                            <strong>Restrições alimentares</strong><br>
                            <span>Os pais podem tirar produtos do cardápio para evitar o consumo de seus filhos.</span>
                        </div>
                    </div>

                    <div class="beneficio-direto">
                        <div class="circulo"></div>
                        <div class="linha-esquerda4"></div>
                        <div class="texto">
                            <strong>Recargas pelo app e web</strong><br>
                            <span>Faça recargas na conta virtual de seu filho do
                                conforto de sua casa pelo celular ou pela web usando cartão de crédito, Pix ou pela
                                sua conta Paypal.</span>
                        </div>
                    </div>
                </div>
            </div>
    </section>


    <section class="duvidas">
        <div class="duvidas-container">
            <div class="duvidas-texto">
                <h1>Dúvidas?</h1>
                <div class="caixa-texto">
                    <h3>Precisa de ajuda?</h3>
                    <p>Entre em contato com o nosso suporte pelo e-mail <br> <a
                            href="mailto:atendimento@bubbe.com.br">atendimento@bubbe.com.br</a> que nossos atendentes
                        irão responder <br> suas dúvidas ou solucionar seus problemas</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="parte-preta">
            <div class="logo-footer">
                <img src="../fotod/Vector.png" alt="Logo Bubbe">
            </div>

            <div class="baixe-app">
                <p>Baixe nosso app agora !</p>

                <div class="modos-de-baixar">
                    <div class="botoes">
                        <a href="#"><img src="../fotod/disponivel-google.png" alt="Google Play"></a>
                        <!--LEMBRAR DE BOTAR OS LINKS-->
                        <a href="#"><img src="../fotod/baixar-store.png" alt="App Store"></a>
                        <!--LEMBRAR DE BOTAR OS LINKS-->
                    </div>

                    <div class="qrCode">
                        <img class="qrCode" src="../fotod/qr-code-app.png" alt="QR Code">
                        <p>Baixe agora</p>
                    </div>
                </div>
            </div>

            <div class="informacoes">
                <p>Informações</p>

                <li><a href="#">Pais e Filhos</a></li>
                <li><a href="#">Cantina e Escolas</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Política de Privacidade</a></li>
                <li><a href="#">Termos de uso</a></li>
            </div>

            <div class="redes-sociais">
                <p>Nossas redes sociais</p>
                <div class="icones">
                    <a href="#"><img src="../fotod/facebook.png" alt="Facebook"></a>
                    <!--LEMBRAR DE BOTAR OS LINKS-->
                    <a href="#"><img src="../fotod/instagram.png" alt="Instagram"></a>
                    <!--LEMBRAR DE BOTAR OS LINKS-->
                    <a href="#"><img src="../fotod/youtube.png" alt="Youtube"></a>
                    <!--LEMBRAR DE BOTAR OS LINKS-->
                    <a href="#"><img src="../fotod/twitter.png" alt="Twitter"></a>
                    <!--LEMBRAR DE BOTAR OS LINKS-->
                </div>
            </div>
        </div>

        <div class="parte-branca">
            <h5>Todos os direitos reservados - Bubbe - 2025 / Desenvolvido por</h5>
        </div>

    </footer>
</body>

</html>